<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
  
    <form method="POST">
        <label>Name</label>
        <input name = "input_Name" type="text", value="{{update.name}}"> <br>

        <label>Age</label>
        <input name = "input_Age" type="text", value="{{update.age}}"> <br>

        <label>Address</label>
        <input name = "input_Address" type="text", value="{{update.address}}" > <br>

        <label>Gender</label>
        <input name="input_Gender" type="text", value="{{update.gender}}"> <br>

        <label>Height</label>
        <input name ="input_Height" type="text", value="{{update.height}}"> <br>

        <label>Available</label>
        <input name= "input_Available" type="text", value="{{update.available}}"> <br>

        <button>Confirm</button>
    </form>
</body>
</html>